## emacs
*~
TAGS

## autotools
*.log
Makefile
config.h
config.status
config.cache
configure.scan
autom4te.cache
.deps

stamp-h1

## autotools distribute files
*.in
aclocal.m4
configure
depcomp
install-sh
missing
*.trs
test-driver

## binaries
*.o
*.a
*_test
zatuscheme
zs_test_main
